{% extends 'base.html.twig' %} {% block body %}

<rapport>
    <h2>Titre du rapport</h2>
    <div class="metadata">Ecrit le 01/12/2019 à 16:00 dans la catégorie Planète</div>
    <div class="content">
        <img src="http://placehold.it/350*150" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dolor maxime ullam beatae, ea error!</p>
        <p>Ea similique nostrum ipsa blanditiis. Consequuntur, repellendus provident odio harum excepturi dignissimos! Dolorum, ad esse!</p>
        <hr>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maiores aliquid perspiciatis quam doloremque cumque fugit laboriosam esse hic eligendi nobis temporibus rem in voluptates, veritatis, placeat sint quas? Ad ipsa temporibus animi id harum unde consectetur, dolores reiciendis autem nisi ex optio eius impedit cum beatae laboriosam! Dolore, blanditiis?</span></p>
        <p><span>Enim, repudiandae eos eaque alias commodi optio cumque dicta dolore quod atque fuga maxime. Temporibus repudiandae est soluta placeat dolorem? Voluptas, ut accusantium. Deserunt earum aut temporibus saepe. Obcaecati ut consequatur doloribus incidunt, quidem repudiandae delectus minus. Quibusdam animi sint eos perferendis, magnam saepe, quaerat, atque veniam odio quo corrupti.</span></p>
    </div>
</rapport>

{% endblock %}